@page
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid" id="dataTable">
    @*Header*@
    <div class="row" id="dataTableHeader">
    </div>
    @*Data Rows*@
    <div class="container" id="dataTableBody">
    </div>
    @*Add Button*@
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Add Data
                </div>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalFields">
                    <div>
                        <label class="form-label" for="titleField">Title</label>
                        <input type="text" class="form-control" placeholder="Title" id="titleField"/>
                    </div>
                    <div>
                        <label class="form-label" for="descriptionField">Description</label>
                        <textarea class="form-control" placeholder="Description" id="descriptionField"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="addButtonModal">Add</button>
            </div>
        </div>
    </div>
</div>
