@page
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid" id="dataTable">
    @*Header*@
    <div class="row" id="dataTableHeader">
    </div>
    @*Data Rows*@
    <div class="container" id="dataTableBody">
    </div>
    @*Add Button*@
    <div class="row">
        <div class="col d-flex justify-content-center mt-5">
            <button class="btn btn-primary" id="addButton">Add</button>
        </div>
    </div>
</div>
